:global(.head-search){
    width: 30%;height: 32px;
    float: left;
    margin-left: 35%;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #252A44;
}

:global(.head-search .ant-input-affix-wrapper){
    background-color: #252A44;
    border:none !important;
}

:global(.head-search .ant-input-group-addon){
    background-color: #252A44;
}

:global(.head-search .ant-input-clear-icon){
    color:whitesmoke;
}

:global(.head-search .ant-input-search-button){
    background-color: #252A44;
    border:none !important;
    color:whitesmoke;
}

:global(.head-search .ant-input){
    background-color: #252A44;
    color:whitesmoke;
}

:global(.head-search .ant-input)::selection {
    background-color:#d3d3d3; 
    color:#666;
}

.search{
    height: 32px;
    margin-bottom: 0px;
}

.info{
    position:relative;
    width: 100%;
    margin-top: 1px;
    z-index:999;
    background-color: #252A44;
    border-radius:5px;
}