.selectDiv{
    float: right;
    margin-right: 1.3rem;margin-top: 1.3rem;
}

.select{
    width: 11rem;
}

.selectBtn{
    width: 4rem;
}

.download{
    float: right;
    margin-top: 1.3rem;margin-right: 1.5rem;
    width: 7rem;
}