.main{
    float: left;
    width: 82%;height: 37.8rem;
    background-color: #141826;
    border-right: solid #252A44 3px;
}

.menu{
    height: 3rem;width: 100%;
    font-size: 0.7rem !important;
    text-align: center;
    background-color: #141826 !important;
    border-bottom: solid #252A44 3px !important;
}

.kdata{
    height:33.8rem; width:100%;
    margin-top: 1rem;
    background-color: #141826;
    
}