.infoDiv{
    float: left;
    margin-left: 5px;margin-top: 5px;
    width: 49%;
}

.detailDiv{
    float: right;
    margin-right: 5px;margin-top: 5px;margin-bottom: 5px;
    width: 49%;
    background-color: whitesmoke;
    border-radius: 3px;
}