:global(.setPolicyTimeDiv){
    width: 90%;
    margin-left: 5%;margin-top: 20px;
}

:global(.setPolicyTimeDiv .ant-picker-input>input){
    background-color: #141826;
    border-bottom: 0.2px solid gray;
    color:whitesmoke;
}

:global(.setPolicyTimeDiv .ant-picker){
    background-color: #141826;
    border:none;
}
:global(.setPolicyTimeDiv .anticon-swap-right){
    color: gray !important;
}

.compButton{
    background-color: #F9293E !important;
    color:whitesmoke;
    border: none;
}

.compButton:hover{
    background-color: #F9293E ;
    color:whitesmoke;
}


:global(.totalSetterListDiv){
    width: 90%;
    margin-left: 5%;margin-top: 20px;margin-bottom: 10px;
    background-color: #141826;
}

:global(.totalSetterListDiv .ant-empty-description){
    color: gray;
}

:global(.totalSetterListDiv .ant-list-item-meta-title){
    color: whitesmoke;
}

:global(.totalSetterListDiv .ant-list-item-meta-description){
    color: gray;
}

:global(.totalSetterListDiv .ant-list-item){
    border-bottom: 1px solid #252A44 !important;
}