.main{
    float: right;
    width: 18%;height: 37.8rem;
    background-color: #141826;
}

.label{
    width: 100%;height: 50%;
    background-color: #252A44
}

.name{
    width: 100%;height: 10%;
    background-color: rgb(15,18,31);
}


.col{
    margin-top: 0.5rem;
    color: gray;
    text-align: center;
    font-size: 0.8rem;
}