/* @import '~antd/dist/antd.less'; */

.test{
    width: 200px;
    height: 100px;
    background-color: red;
}

.head{
    min-height:50px;
    color:white;
    background-color: #141826;
    border-bottom-style: solid;
    border-bottom-color: #252A44;
    border-bottom-width: 3px;
}

.star{
    min-height: 775px;
    color:white;
    background:#141826;
    border-bottom: solid #252A44 3px;
    border-right: solid #252A44 3px;
}

.main{
    min-height: 775px;
    color: white;
    background: #141826;
    border-bottom: solid #252A44 3px;
}

.policy{
    min-height: 400px;
    color: white;
    background: #141826;
}

.info{
    min-height: 15px;
    color: white;
    background: #252A44;
}