:global(.mainItemStterDiv){
    width: 90%;
}

.setterSwitchDiv{
    margin-top: 25px;margin-bottom: 20px;margin-left: 10px;
    float: left;
}

.buysaleSwitch{
    border:none !important;
}

.stockInput{
    width: 100%;
    margin-top: 20px;margin-left: 10px;
    background-color: #141826;
}

:global(.mainItemStterDiv .ant-input-affix-wrapper){
    background-color: #141826;
    border: none;
}

:global(.mainItemStterDiv .ant-input){
   background-color: #141826;
   color:whitesmoke;
}

:global(.mainItemStterDiv .ant-select-selector){
    background-color: #141826 !important;
    border:none !important;
    color:#ddd;
 }

:global(.mainItemStterDiv .ant-select-arrow){
    color: gray;
    /* background-color: #141826; */
}

:global(.mainItemStterDiv .ant-switch){
    background-image: none;
}

:global(.mainItemStterDiv .anticon-close-circle){
    color:gray;
}





.amountInput{
    width: 100%;
    margin-top: 20px;margin-left: 10px;
    background-color: #141826;
    font-size: 1rem;
}

.conditionDiv{
    margin-top: 20px;margin-left: 10px;
    width: 100%;
    background-color: #141826;
}

.buttonDiv{
    margin-top: 20px;margin-bottom: 20px;
    float: right;
    color:#2483ff !important;
}
.buttonDiv:hover{
    color:#2483ff;
}